*.vsidx
*.dll
*.exe
Ping.Server/obj/Debug/net8.0/
.vs/Ping/CopilotIndices/17.14.939.21063/CodeChunks.db-shm
.vs/Ping/CopilotIndices/17.14.939.21063/CodeChunks.db-wal
.vs/Ping/CopilotIndices/17.14.939.21063/SemanticSymbols.db-shm
.vs/Ping/CopilotIndices/17.14.939.21063/SemanticSymbols.db-wal
Ping.Server/obj/Ping.Server.csproj.nuget.dgspec.json
Ping.Server/obj/Ping.Server.csproj.nuget.g.targets
Ping.Server/obj/project.assets.json
Ping.Server/obj/project.nuget.cache
.vs/Ping/copilot-chat/
.vs/Ping/CopilotIndices/
.vs/Ping/DesignTimeBuild/
Ping.Server/bin/
.vs/Ping/v17/.suo
.vs/Ping/v17/DocumentLayout.backup.json
.vs/Ping/v17/DocumentLayout.json
.vs/Ping/v17/.futdcache.v2
.vs/ProjectEvaluation/ping.metadata.v9.bin
.vs/ProjectEvaluation/ping.projects.v9.bin
.vs/ProjectEvaluation/ping.strings.v9.bin
